body {
  background-color: #1e1e2e;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI Variable", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: 'Inter', sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #cdd6f4;
}

p,
a,
li,
details {
  color: #bac2de;
}

button {
  background-color: #cba6f7;
  font-family: 'Inter', sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
